<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item">
        <img class="rounded-circle img-fluid" src="../../assets/img/goku-profile.png" width="50px" height="50px" alt="Imagem usuário">
      </li>

      <li class="nav-item pl-3 pd-left">
        <p class="m-0 font-weight-bold fs-16 text-white" id="nomeUser">Olá user</p>
      </li>

      <li class="nav-item pl-3">
        <a class="fs-16 text-white">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
      </li>




    </ul>

    <ul class="navbar-nav ml-auto side-right">
      <li>
        <a class="text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>