.fs-16 {
    font-size: 16pt;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.side-right {
    margin-left: auto;
    margin-right: 5%
}

li #nomeUser {
    margin-left: 26px;
}

.mg-left-name {
    margin-left: 20px;
}

.mg-left-profile {
    margin-left: 20px;
}

.mg-left-icon-profile {
    margin-left: 20px;
}